ion-card {
  margin-bottom: 20px;
}

ion-img {
  width: 100px;
  height: 100px;
}
// ion-content {
//   --padding-top: 20px;
//   --padding-bottom: 20px;
// }
.scroll-content {
  height: 100%;
  overflow-y: auto;
}